*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import 'helpers/mixins';

header{
    padding: 50px 0;

    #header_nav{
        @include flex(flex, $justify: center, $align-items: center);

        #header_nav_links{
            @include flex(flex, $justify: center, $align-items: center);
        
            ul{
                @include flex(flex, $justify: center, $align-items: center);
                margin: 0;
        
                li{
                    margin-left: 60px;
                    list-style: none;
                    position: relative;

                    .link{
                        @include link(#1b1b1b, Montserrat, sans-serif, 10px, none);
                        padding-bottom: 0;
                        position: relative;

                        &::after{
                            @include hoverAfter(block, " ", 1px, 0, black, absolute, 0, $bottom: 0, $transition: all 0.3s);
                        }

                        &:hover{
                            &::after{
                                @include hoverAfter(block, " ", 1px, 100%, black, absolute, $right: 0, $bottom: 0);
                            }
                        }
                    }

                    .home{
                        display: none;
                    }

                    .pages{
                        display: none;
                    }

                    .shop{
                        display: none;
                    }

                    .portfolio{
                        display: none;
                        
                    }

                    .blog{
                        display: none;
                    }

                    .elements{
                        display: none;
                    }

                    &:hover{
                        .home{
                            @include hoverAfter(block, $width: 190px, $bg-color: white, $position: absolute, $top: 20px, $left: -26px);

                            ul{
                                @include flex(flex, column, $align-items: flex-start);
                                padding: 25px;
                                padding-top: 60px;

                                li{
                                    margin: 0;
                                    margin-top: 10px;

                                    .link{
                                        @include link(rgb(109, 106, 106), Lora, sans-serif, 15px);
                                    }
                                }
                            }
                        }
                    }

                    &:hover{
                        .pages{
                            @include hoverAfter(block, $width: 190px, $bg-color: white, $position: absolute, $top: 20px, $left: -26px);

                            ul{
                                @include flex(flex, column, $align-items: flex-start);
                                padding: 25px;
                                padding-top: 60px;

                                li{
                                    margin: 0;
                                    margin-top: 10px;

                                    .link{
                                        @include link(rgb(109, 106, 106), Lora, sans-serif, 15px);
                                    }
                                }
                            }
                        }
                    }

                    &:hover{
                        .shop{
                            @include flex(flex, $align-items: flex-start);
                            @include hoverAfter($bg-color: white, $position: absolute, $top: 20px, $left: -595px);

                            ul{
                                @include flex(flex, column, $align-items: flex-start);
                                width: 316px;
                                padding: 40px;
                                padding-top: 60px;
                                box-sizing: border-box;

                                li{
                                    margin: 0;
                                    margin-top: 10px;

                                    h2{
                                        font: 25px serif;
                                    }

                                    .link{
                                        @include link(rgb(109, 106, 106), Lora, sans-serif, 15px);
                                    }
                                }
                            }
                        }
                    }

                    &:hover{
                        .portfolio{
                            @include hoverAfter(block, $width: 190px, $bg-color: white, $position: absolute, $top: 20px, $left: -26px);
    
                            ul{
                                @include flex(flex, column, $align-items: flex-start);
                                padding: 25px;
                                padding-top: 60px;
    
                                li{
                                    margin: 0;
                                    margin-top: 10px;
                                    position: relative;
    
                                    .link{
                                        @include link(rgb(109, 106, 106), Lora, sans-serif, 15px);
                                    }
    
                                    .sub_portfolio{
                                        width: 150px;
    
                                        .sub_link{
                                            @include flex(flex, $justify: space-between, $align-items: center);
                                            @include link(rgb(109, 106, 106), Lora, sans-serif, 15px, none);
                                            
                                            span{
                                                padding-bottom: 0;
                                                position: relative;
                            
                                                &::after{
                                                    @include hoverAfter(block, " ", 1px, 0, black, absolute, 0, $bottom: 0, $transition: all 0.3s);
                                                }
    
                                                &:hover{
                                                    &::after{
                                                        @include hoverAfter(block, " ", 1px, 0, black, absolute, 0, $bottom: 0);
                                                    }
                                                }
                                            }
    
                                            i{
                                                font-size: 10px;
                                            }
                                        }
                                    }
    
                                    .sub_portfolio_layouts{
                                        display: none;
                                    }
    
                                    .sub_portfolio_single{
                                        display: none;
                                    }
    
                                    &:hover{
                                        .sub_portfolio_layouts{
                                            @include hoverAfter(block, $width: 190px, $bg-color: white, $position: absolute, $top: -5px, $left: 150px);
                
                                            ul{
                                                @include flex(flex, column, $align-items: flex-start);
                                                padding: 25px;
                
                                                li{
                                                    margin: 0;
                                                    margin-top: 10px;
                
                                                    .link{
                                                        @include link(rgb(109, 106, 106), Lora, sans-serif, 15px);
                                                    }
                                                }
                                            }
                                        }
                                    }
    
                                    &:hover{
                                        .sub_portfolio_single{
                                            @include hoverAfter(block, $width: 190px, $bg-color: white, $position: absolute, $top: 0, $left: 150px);
                
                                            ul{
                                                @include flex(flex, column, $align-items: flex-start);
                                                padding: 25px;
                
                                                li{
                                                    margin: 0;
                                                    margin-top: 10px;
                
                                                    .link{
                                                        @include link(rgb(109, 106, 106), Lora, sans-serif, 15px);
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &:hover{
                        .blog{
                            @include hoverAfter(block, $width: 190px, $bg-color: white, $position: absolute, $top: 20px, $left: -26px);
    
                            ul{
                                @include flex(flex, column, $align-items: flex-start);
                                padding: 25px;
                                padding-top: 60px;
    
                                li{
                                    margin: 0;
                                    margin-top: 10px;
                                    position: relative;
    
                                    .link{
                                        @include link(rgb(109, 106, 106), Lora, sans-serif, 15px);
                                    }
    
                                    .sub_blog{
                                        width: 150px;

                                        .sub_link{
                                            @include flex(flex, $justify: space-between, $align-items: center);
                                            @include link(rgb(109, 106, 106), Lora, sans-serif, 15px, none);

                                            span{
                                                padding-bottom: 0;
                                                position: relative;
                            
                                                &::after{
                                                    @include hoverAfter(block, " ", 1px, 0, black, absolute, 0, $bottom: 0, $transition: all 0.3s);
                                                }
    
                                                &:hover{
                                                    &::after{
                                                        @include hoverAfter(block, " ", 1px, 0, black, absolute, 0, $bottom: 0);
                                                    }
                                                }
                                            }

                                            i{
                                                font-size: 10px;
                                            }
                                        }
                                    }
    
                                    .sub_blog_post{
                                        display: none;
                                    }
    
                                    &:hover{
                                        .sub_blog_post{
                                            @include hoverAfter(block, $width: 190px, $bg-color: white, $position: absolute, $top: -5px, $left: 150px);
                
                                            ul{
                                                @include flex(flex, column, $align-items: flex-start);
                                                padding: 25px;
                
                                                li{
                                                    margin: 0;
                                                    margin-top: 10px;
                
                                                    .link{
                                                        @include link(rgb(109, 106, 106), Lora, sans-serif, 15px);
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &:hover{
                        .elements{
                            @include hoverAfter(block, $width: 190px, $bg-color: white, $position: absolute, $top: 20px, $left: -26px);
        
                            ul{
                                @include flex(flex, column, $align-items: flex-start);
                                padding: 25px;
                                padding-top: 60px;
        
                                li{
                                    margin: 0;
                                    margin-top: 10px;
                                    position: relative;
        
                                    .link{
                                        @include link(rgb(109, 106, 106), Lora, sans-serif, 15px);
                                    }
        
                                    .sub_elements{
                                        width: 150px;
    
                                        .sub_link{
                                            @include flex(flex, $justify: space-between, $align-items: center);
                                            @include link(rgb(109, 106, 106), Lora, sans-serif, 15px, none);

                                            span{
                                                padding-bottom: 0;
                                                position: relative;
                            
                                                &::after{
                                                    @include hoverAfter(block, " ", 1px, 0, black, absolute, 0, $bottom: 0, $transition: all 0.3s);
                                                }
    
                                                &:hover{
                                                    &::after{
                                                        @include hoverAfter(block, " ", 1px, 0, black, absolute, 0, $bottom: 0);
                                                    }
                                                }
                                            }
    
                                            i{
                                                font-size: 10px;
                                            }
                                        }
                                    }
        
                                    .sub_elements_classic{
                                        display: none;
                                    }
    
                                    .sub_elements_infographic{
                                        display: none;
                                    }
    
                                    .sub_elements_interactive{
                                        display: none;
                                    }
    
                                    .sub_elements_typography{
                                        display: none;
                                    }
        
                                    &:hover{
                                        .sub_elements_classic{
                                            @include hoverAfter(block, $width: 190px, $bg-color: white, $position: absolute, $top: -5px, $left: 150px);
                    
                                            ul{
                                                @include flex(flex, column, $align-items: flex-start);
                                                padding: 25px;
                    
                                                li{
                                                    margin: 0;
                                                    margin-top: 10px;
                    
                                                    .link{
                                                        @include link(rgb(109, 106, 106), Lora, sans-serif, 15px);
                                                    }
                                                }
                                            }
                                        }
                                    }
    
                                    &:hover{
                                        .sub_elements_infographic{
                                            @include hoverAfter(block, $width: 190px, $bg-color: white, $position: absolute, $top: -5px, $left: 150px);
                    
                                            ul{
                                                @include flex(flex, column, $align-items: flex-start);
                                                padding: 25px;
                    
                                                li{
                                                    margin: 0;
                                                    margin-top: 10px;
                    
                                                    .link{
                                                        @include link(rgb(109, 106, 106), Lora, sans-serif, 15px);
                                                    }
                                                }
                                            }
                                        }
                                    }
    
                                    &:hover{
                                        .sub_elements_interactive{
                                            @include hoverAfter(block, $width: 190px, $bg-color: white, $position: absolute, $top: -5px, $left: 150px);
                    
                                            ul{
                                                @include flex(flex, column, $align-items: flex-start);
                                                padding: 25px;
                    
                                                li{
                                                    margin: 0;
                                                    margin-top: 10px;
                    
                                                    .link{
                                                        @include link(rgb(109, 106, 106), Lora, sans-serif, 15px);
                                                    }
                                                }
                                            }
                                        }
                                    }
    
                                    &:hover{
                                        .sub_elements_typography{
                                            @include hoverAfter(block, $width: 190px, $bg-color: white, $position: absolute, $top: -5px, $left: 150px);
                    
                                            ul{
                                                @include flex(flex, column, $align-items: flex-start);
                                                padding: 25px;
                    
                                                li{
                                                    margin: 0;
                                                    margin-top: 10px;
                    
                                                    .link{
                                                        @include link(rgb(109, 106, 106), Lora, sans-serif, 15px);
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        
        #header_nav_card{
            
            ul{
                @include flex(flex);
                margin: 0;
                
                li{
                    margin-left: 30px;
                    @include text(Montserrat, sans-serif, 12px, none);
        
                    i{
                        font-size: 20px;
                    }
                }
        
                .search{
                    transform: rotate(90deg);
                    cursor: pointer;
        
                    &:hover{
                        color: rgb(239, 88, 88);
                    }
                }
            }
        }
    }
}