*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import 'helpers/mixins';

body{
    font-family: Montserrat, sans-serif;
    font-size: 15px;
}

html {
    scroll-behavior: smooth;
}

#backToTop {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: red;
    font-size: 20px;
    color: white;
    display: none;
    cursor: pointer;
    z-index: 2;
}

header{
    nav{
        display: flex;
        height: 130px;
        z-index: 1;

        #logo{
            @include flex(flex, $justify: center, $align-items: center);
            z-index: 2;
        }

        #header_nav{
            @include flex(flex, $justify: center, $align-items: center);
    
            #header_nav_links{
                @include flex(flex, $justify: center, $align-items: center);
            
                ul{
                    @include flex(flex, $justify: center, $align-items: center);
                    margin: 0;
            
                    li{
                        margin-left: 60px;
                        list-style: none;
                        position: relative;

                        .link{
                            @include link(#1b1b1b, 'Montserrat, sans-serif', 12px, none);
                            padding-bottom: 0;
                            position: relative;
    
                            &::after{
                                @include hoverAfter(block, " ", 1.5px, 0, black, absolute, 0, $bottom: 0, $transition: all 0.3s);
                            }
    
                            &:hover{
                                &::after{
                                    @include hoverAfter(block, " ", 1.5px, 100%, black, absolute, $right: 0, $bottom: 0);
                                }
                            }
                        }

                        .active{
                            @include link(#1b1b1b, 'Montserrat, sans-serif', 12px, none);
                            padding-bottom: 0;
                            position: relative;
    
                            &::after{
                                @include hoverAfter(block, " ", 2px, 100%, black, absolute, 0, $bottom: 0);
                            }
                        }
    
                        .home{
                            display: none;
                        }
    
                        .pages{
                            display: none;
                        }
    
                        .shop{
                            display: none;
                        }
    
                        .portfolio{
                            display: none;
                            
                        }
    
                        .blog{
                            display: none;
                        }
    
                        .elements{
                            display: none;
                        }
    
                        &:hover{
                            .home{
                                @include hoverAfter(block, $width: 190px, $bg-color: white, $position: absolute, $top: 20px, $left: -26px);
    
                                ul{
                                    @include flex(flex, column, $align-items: flex-start);
                                    padding: 25px;
                                    padding-top: 60px;
    
                                    li{
                                        margin: 0;
                                        margin-top: 10px;
    
                                        .link{
                                            @include link(rgb(109, 106, 106), 'Lora, sans-serif', 15px);
                                        }
                                    }
                                }
                            }
                        }
    
                        &:hover{
                            .pages{
                                @include hoverAfter(block, $width: 190px, $bg-color: white, $position: absolute, $top: 20px, $left: -26px);
    
                                ul{
                                    @include flex(flex, column, $align-items: flex-start);
                                    padding: 25px;
                                    padding-top: 60px;
    
                                    li{
                                        margin: 0;
                                        margin-top: 10px;
    
                                        .link{
                                            @include link(rgb(109, 106, 106), 'Lora, sans-serif', 15px);
                                        }
                                    }
                                }
                            }
                        }
    
                        &:hover{
                            .shop{
                                @include flex(flex, $align-items: flex-start);
                                @include hoverAfter($bg-color: white, $position: absolute, $top: 20px, $left: -595px);
    
                                ul{
                                    @include flex(flex, column, $align-items: flex-start);
                                    width: 316px;
                                    padding: 40px;
                                    padding-top: 60px;
                                    box-sizing: border-box;
    
                                    li{
                                        margin: 0;
                                        margin-top: 10px;
    
                                        h2{
                                            font: 25px serif;
                                        }
    
                                        .link{
                                            @include link(rgb(109, 106, 106), 'Lora, sans-serif', 15px);
                                        }
                                    }
                                }
                            }
                        }
    
                        &:hover{
                            .portfolio{
                                @include hoverAfter(block, $width: 190px, $bg-color: white, $position: absolute, $top: 20px, $left: -26px);
        
                                ul{
                                    @include flex(flex, column, $align-items: flex-start);
                                    padding: 25px;
                                    padding-top: 60px;
        
                                    li{
                                        margin: 0;
                                        margin-top: 10px;
                                        position: relative;
        
                                        .link{
                                            @include link(rgb(109, 106, 106), 'Lora, sans-serif', 15px);
                                        }
        
                                        .sub_portfolio{
                                            width: 150px;
        
                                            .sub_link{
                                                @include flex(flex, $justify: space-between, $align-items: center);
                                                @include link(rgb(109, 106, 106), 'Lora, sans-serif', 15px, none);
                                                
                                                span{
                                                    padding-bottom: 0;
                                                    position: relative;
                                
                                                    &::after{
                                                        @include hoverAfter(block, " ", 1px, 0, black, absolute, 0, $bottom: 0, $transition: all 0.3s);
                                                    }
        
                                                    &:hover{
                                                        &::after{
                                                            @include hoverAfter(block, " ", 1px, 0, black, absolute, 0, $bottom: 0);
                                                        }
                                                    }
                                                }
        
                                                i{
                                                    font-size: 10px;
                                                }
                                            }
                                        }
        
                                        .sub_portfolio_layouts{
                                            display: none;
                                        }
        
                                        .sub_portfolio_single{
                                            display: none;
                                        }
        
                                        &:hover{
                                            .sub_portfolio_layouts{
                                                @include hoverAfter(block, $width: 190px, $bg-color: white, $position: absolute, $top: -5px, $left: 150px);
                    
                                                ul{
                                                    @include flex(flex, column, $align-items: flex-start);
                                                    padding: 25px;
                    
                                                    li{
                                                        margin: 0;
                                                        margin-top: 10px;
                    
                                                        .link{
                                                            @include link(rgb(109, 106, 106), 'Lora, sans-serif', 15px);
                                                        }
                                                    }
                                                }
                                            }
                                        }
        
                                        &:hover{
                                            .sub_portfolio_single{
                                                @include hoverAfter(block, $width: 190px, $bg-color: white, $position: absolute, $top: 0, $left: 150px);
                    
                                                ul{
                                                    @include flex(flex, column, $align-items: flex-start);
                                                    padding: 25px;
                    
                                                    li{
                                                        margin: 0;
                                                        margin-top: 10px;
                    
                                                        .link{
                                                            @include link(rgb(109, 106, 106), 'Lora, sans-serif', 15px);
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
    
                        &:hover{
                            .blog{
                                @include hoverAfter(block, $width: 190px, $bg-color: white, $position: absolute, $top: 20px, $left: -26px);
        
                                ul{
                                    @include flex(flex, column, $align-items: flex-start);
                                    padding: 25px;
                                    padding-top: 60px;
        
                                    li{
                                        margin: 0;
                                        margin-top: 10px;
                                        position: relative;
        
                                        .link{
                                            @include link(rgb(109, 106, 106), 'Lora, sans-serif', 15px);
                                        }
        
                                        .sub_blog{
                                            width: 150px;
    
                                            .sub_link{
                                                @include flex(flex, $justify: space-between, $align-items: center);
                                                @include link(rgb(109, 106, 106), 'Lora, sans-serif', 15px, none);
    
                                                span{
                                                    padding-bottom: 0;
                                                    position: relative;
                                
                                                    &::after{
                                                        @include hoverAfter(block, " ", 1px, 0, black, absolute, 0, $bottom: 0, $transition: all 0.3s);
                                                    }
        
                                                    &:hover{
                                                        &::after{
                                                            @include hoverAfter(block, " ", 1px, 0, black, absolute, 0, $bottom: 0);
                                                        }
                                                    }
                                                }
    
                                                i{
                                                    font-size: 10px;
                                                }
                                            }
                                        }
        
                                        .sub_blog_post{
                                            display: none;
                                        }
        
                                        &:hover{
                                            .sub_blog_post{
                                                @include hoverAfter(block, $width: 190px, $bg-color: white, $position: absolute, $top: -5px, $left: 150px);
                    
                                                ul{
                                                    @include flex(flex, column, $align-items: flex-start);
                                                    padding: 25px;
                    
                                                    li{
                                                        margin: 0;
                                                        margin-top: 10px;
                    
                                                        .link{
                                                            @include link(rgb(109, 106, 106), 'Lora, sans-serif', 15px);
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
    
                        &:hover{
                            .elements{
                                @include hoverAfter(block, $width: 190px, $bg-color: white, $position: absolute, $top: 20px, $left: -26px);
            
                                ul{
                                    @include flex(flex, column, $align-items: flex-start);
                                    padding: 25px;
                                    padding-top: 60px;
            
                                    li{
                                        margin: 0;
                                        margin-top: 10px;
                                        position: relative;
            
                                        .link{
                                            @include link(rgb(109, 106, 106), 'Lora, sans-serif', 15px);
                                        }
            
                                        .sub_elements{
                                            width: 150px;
        
                                            .sub_link{
                                                @include flex(flex, $justify: space-between, $align-items: center);
                                                @include link(rgb(109, 106, 106), 'Lora, sans-serif', 15px, none);
    
                                                span{
                                                    padding-bottom: 0;
                                                    position: relative;
                                
                                                    &::after{
                                                        @include hoverAfter(block, " ", 1px, 0, black, absolute, 0, $bottom: 0, $transition: all 0.3s);
                                                    }
        
                                                    &:hover{
                                                        &::after{
                                                            @include hoverAfter(block, " ", 1px, 0, black, absolute, 0, $bottom: 0);
                                                        }
                                                    }
                                                }
        
                                                i{
                                                    font-size: 10px;
                                                }
                                            }
                                        }
            
                                        .sub_elements_classic{
                                            display: none;
                                        }
        
                                        .sub_elements_infographic{
                                            display: none;
                                        }
        
                                        .sub_elements_interactive{
                                            display: none;
                                        }
        
                                        .sub_elements_typography{
                                            display: none;
                                        }
            
                                        &:hover{
                                            .sub_elements_classic{
                                                @include hoverAfter(block, $width: 190px, $bg-color: white, $position: absolute, $top: -5px, $left: 150px);
                        
                                                ul{
                                                    @include flex(flex, column, $align-items: flex-start);
                                                    padding: 25px;
                        
                                                    li{
                                                        margin: 0;
                                                        margin-top: 10px;
                        
                                                        .link{
                                                            @include link(rgb(109, 106, 106), 'Lora, sans-serif', 15px);
                                                        }
                                                    }
                                                }
                                            }
                                        }
        
                                        &:hover{
                                            .sub_elements_infographic{
                                                @include hoverAfter(block, $width: 190px, $bg-color: white, $position: absolute, $top: -5px, $left: 150px);
                        
                                                ul{
                                                    @include flex(flex, column, $align-items: flex-start);
                                                    padding: 25px;
                        
                                                    li{
                                                        margin: 0;
                                                        margin-top: 10px;
                        
                                                        .link{
                                                            @include link(rgb(109, 106, 106), 'Lora, sans-serif', 15px);
                                                        }
                                                    }
                                                }
                                            }
                                        }
        
                                        &:hover{
                                            .sub_elements_interactive{
                                                @include hoverAfter(block, $width: 190px, $bg-color: white, $position: absolute, $top: -5px, $left: 150px);
                        
                                                ul{
                                                    @include flex(flex, column, $align-items: flex-start);
                                                    padding: 25px;
                        
                                                    li{
                                                        margin: 0;
                                                        margin-top: 10px;
                        
                                                        .link{
                                                            @include link(rgb(109, 106, 106), 'Lora, sans-serif', 15px);
                                                        }
                                                    }
                                                }
                                            }
                                        }
        
                                        &:hover{
                                            .sub_elements_typography{
                                                @include hoverAfter(block, $width: 190px, $bg-color: white, $position: absolute, $top: -5px, $left: 150px);
                        
                                                ul{
                                                    @include flex(flex, column, $align-items: flex-start);
                                                    padding: 25px;
                        
                                                    li{
                                                        margin: 0;
                                                        margin-top: 10px;
                        
                                                        .link{
                                                            @include link(rgb(109, 106, 106), 'Lora, sans-serif', 15px);
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
            #header_nav_card{
                
                ul{
                    @include flex(flex);
                    margin: 0;
                    
                    li{
                        margin-left: 30px;
                        @include text('Montserrat, sans-serif', 12px, none);
            
                        i{
                            font-size: 20px;
                        }
                    }
            
                    .search{
                        position: relative;
                        cursor: pointer;

                        i{
                            transform: rotate(90deg);

                            &:hover{
                                color: rgb(239, 88, 88);
                            }
                        }

                        .search_button{
                            display: none;
                        }
                    }

                    .case{
                        cursor: pointer;
                        position: relative;
                        
                        span{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;
                            width: 13px;
                            height: 13px;
                            background-color: red;
                            color: white;
                            position: absolute;
                            top: -5px;
                            right: -5px;
                        }
                    }
                }
            }
        }
    }
}


#slide_image{
    height: 503px;

    .slide_flowers{
        display: flex;
        position: relative;
    
        .images{
            position: absolute;
    
            .flower{
                display: none;
                
            }
        
            .active_image{
                display: block;
            }
        }
    
        .slide_flowers_left{
            position: absolute;
            left: 20px;
            top: 240px;
    
            i{
                font-size: 30px;
                cursor: pointer;
                opacity: 0.2;
    
                &:hover{
                    opacity: 1;
                }
            }
        }
    
        .slide_flowers_right{
            position: absolute;
            right: 20px;
            top: 240px;
    
            i{
                font-size: 30px;
                cursor: pointer;
                opacity: 0.2;
    
                &:hover{
                    opacity: 1;
                }
            }
        }
    
        .info_flowers{
            display: flex;
            flex-direction: column;
            width: 400px;
            position: absolute;
            left: 230px;
            top: 110px;
    
            .info_flowers_title{
                width: 325px;
    
                h2{
                    font-size: 45px;
                    font-family: "Playfair Display";
    
                    span{
                        color: red;
                    }
                }
            }
    
            .info_flowers_desc{
                p{
                    text-align: justify;
                    font-family: Lora, sans-serif;
                    font-size: 17px;
                    color: rgb(109, 106, 106);
                }
                
            }
        }
    }
}

#sale_flower{
    .list_category_group{
        display: flex;
        justify-content: space-between;
        margin: 40px 60px;

        .list_category{
            ul{
                display: flex;
                padding: 0;
                
        
                li{
                    margin-left: 35px;
                    list-style: none;
                    text-transform: uppercase;
                    font-family: Montserrat, sans-serif;
                    font-size: 12px;
                    color: #1b1b1b;
                    letter-spacing: 0.1em;
                    font-weight: 500;
                    cursor: pointer;
        
                    &:hover{
                        color: #f34f3f;
                    }

                    &:first-child{
                        margin-left: 5px;
                    }
                }

                .active_list{
                    color: #f34f3f;
                }
            }
        }
        
        
        .filter{
            display: flex;
            padding-right: 0;
            position: relative;
        
            .hover{
                position: relative;

                .hover_filter{
                    display: none;
                }

                &:hover{
                    .hover_filter{
                        @include hoverAfter(flex, $width: 500px, $bg-color: white, $position: absolute, $top: 20px, $right: -10px);
                        z-index: 1;

                        ul{
                            @include flex(flex, column, $align-items: flex-start);
                            padding: 25px;
                            padding-top: 20px;

                            li{
                                margin: 0;
                                margin-top: 10px;
                                list-style: none;

                                h2{
                                    font-size: 20px;
                                    color: #2b2b2b;
                                    font-family: playfair display,serif;
                                    font-weight: 400;
                                }

                                .link{
                                    @include link(rgb(109, 106, 106), 'Lora, sans-serif', 15px, none);
                                    font-weight: 500;

                                    &:hover{
                                        color: black;
                                    }
                                }
                            }
                        }
                    }
                }
    
                .text_filter{
                    text-transform: uppercase;
                    font-family: Montserrat, sans-serif;
                    font-size: 12px;
                    color: #1b1b1b;
                    letter-spacing: 0.1em;
                    font-weight: 500;
                }
            
                .sort_down{
                    margin-left: 15px;
            
                    i{
                        font-size: 20px;
                    }
                }
            }
        }
    }
    
    .sale_images{
        padding-bottom: 80px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    
        .image_box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-left: 2rem;
            padding: 0 20px;

            .box{
                margin-top: 15px;
                position: relative;

                .add{
                    cursor: pointer;
                    text-transform: none;
                    font-size: 13px;
                    font-family: Montserrat, sans-serif;
                    color: #1b1b1b;
                    letter-spacing: 0.1em;
                    font-weight: 500;
                }

                img{
                    display: block;
                    width: 100%;
                    transform: scale(1);
                    transition: 0.3s ease-in-out;

                    &:hover{
                        transform: scale(1.1);
                    }
                }

                .sold{
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    width: 50px;
                    background-color: black;
                    color: white;
                    border: 2px outset grey;
                    text-align: center;
                }

                .sale{
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    width: 50px;
                    background-color: white;
                    color: black;
                    border: 2px outset grey;
                    text-align: center;
                }

                p{
                    text-transform: uppercase;
                    font-family: Montserrat, sans-serif;
                    font-size: 12px;
                    color: #1b1b1b;
                    letter-spacing: 0.1em;
                    font-weight: 500;
                }
            }
        }
    }
}

#suprise{
    display: flex;
    align-items: center;
    background-color: #f7f7f7;

    .suprise_container{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 125px 0;
        padding-left: 150px;

        .suprise_video{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 50%;
            left: 60%;
            transform: translate(-50%, -50%);
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: white;

            a{
                font-size: 70px;
                color: red;
            }
        }
    }

    .video_desc{
        display: flex;
        flex-direction: column;
        margin-left: 95px;
        width: 390px;
        padding: 125px 0;

        .video_title{

            h2{
                color: #2b2b2b;
                font-family: playfair display,serif;
                font-weight: 400;
                font-size: 38px;
                line-height: 1.4em;

                span{
                    color: #f34f3f;
                }
            }
        }

        .video_title_desc{
            margin-top: 20px;

            p{
                font-size: 20px;
                line-height: 29px;
                font-family: Lora, serif;
                color: rgb(109, 106, 106);
            }
        }

        .video_title_list{
            
            ul{
                padding: 0;

                li{
                    list-style: none;
                    color: rgb(109, 106, 106);
                    font-size: 17px;
                    margin-top: 20px;
                    background-image: url(../IMG/h1-custom-icon.png);
                    background-repeat: no-repeat;
                    background-position: 0 center;
                    padding-left: 30px;
                }
            }
        }
    }
}

#flower_experts{

    .flower_experts_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 100px 0;

        .flower_experts_desc{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .flower_experts_text_title{

                h2{
                    color: #2b2b2b;
                    font-family: playfair display,serif;
                    font-weight: 400;
                    font-size: 38px;
                }
            }

            .flower_experts_text_desc{
                margin-top: 20px;
                width: 655px;
                
                p{
                    text-align: center;
                    font-size: 20px;
                    line-height: 29px;
                    font-family: Lora, serif;
                    color: #6d6a6a;
                }
            }
        }

        .experts{
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            margin-top: 40px;

            .expert1{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-left: 50px;

                .expert1_image{
                    margin-top: 10px;
                }

                .expert1_name{
                    margin-top: 20px;
                    font-family: Montserrat;
                    font-size: 12px;
                    font-weight: 500;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    color: #1b1b1b;
                }

                .expert1_profession{
                    margin-top: 20px;
                    color: #afafaf;
                    font-family: Montserrat, sans-serif;
                    font-size: 12px;
                }
            }

            .expert2{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .expert2_image{
                    margin-top: 10px;
                }

                .expert2_name{
                    margin-top: 20px;
                    font-family: Montserrat;
                    font-size: 12px;
                    font-weight: 500;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    color: #1b1b1b;
                }

                .expert2_profession{
                    margin-top: 20px;
                    color: #afafaf;
                    font-family: Montserrat, sans-serif;
                    font-size: 12px;
                }
            }

            .expert3{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .expert3_image{
                    margin-top: 10px;
                }

                .expert3_name{
                    margin-top: 20px;
                    font-family: Montserrat;
                    font-size: 12px;
                    font-weight: 500;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    color: #1b1b1b;
                }

                .expert3_profession{
                    margin-top: 20px;
                    color: #afafaf;
                    font-family: Montserrat, sans-serif;
                    font-size: 12px;
                }
            }

            .expert4{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-right: 50px;

                .expert4_image{
                    margin-top: 10px;
                }

                .expert4_name{
                    margin-top: 20px;
                    font-family: Montserrat;
                    font-size: 12px;
                    font-weight: 500;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    color: #1b1b1b;
                }

                .expert4_profession{
                    margin-top: 20px;
                    color: #afafaf;
                    font-family: Montserrat, sans-serif;
                    font-size: 12px;
                }
            }
        }
    }
}

#join{
    background-color: #f7f7f7;
    background-image: url(../IMG/unnamed.jpg);
    background-repeat: no-repeat;

    .join_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .join_title{
            padding-top: 10%;
            h2{
                color: white;
            }
        }

        .join_subscribe{
            margin-top: 30px;
            padding-bottom: 10%;

            .form_subscribe{
                display: flex;
                justify-content: center;
                align-items: center;
                
                .email_subsribe{
                    
                    input[type=email]{
                        width: 500px;
                        padding: 17.5px 10px;
                        border-width: 0;
                        background-color: white;
                    }
                }
                
                .submit_subsribe{
                
                    input[type=submit]{
                        background-color: #f34f3f;
                        font-weight: 500;
                        font-size: 12px;
                        font-family: Montserrat, sans-serif;
                        letter-spacing: .1em;
                        text-transform: uppercase;
                        color: white;
                        cursor: pointer;
                        width: 200px;
                        padding: 20px;
                        border-width: 0;
                    }
                }
            }
        }
    }
}

#blog_form{
    background-color: #f7f7f7;

    .blog_form_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 100px 0;

        .blog_form_desc{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .blog_form_text_title{

                h2{
                    font-weight: 400;
                    font-size: 38px;
                    font-family: 'Recursive', sans-serif;
                }
            }

            .blog_form_text_desc{
                margin-top: 10px;
                width: 653px;

                p{
                    text-align: center;
                    font-size: 17px;
                    line-height: 29px;
                    font-family: Lora, serif;
                    color: #6d6a6a;
                }
            }
        }
    
        .blog_form_info{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-top: 40px;

            .info_box1{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .info_box1_image{
                    margin-top: 10px;
                    position: relative;

                    span{
                        position: absolute;
                        top: 5px;
                        left: 5px;
                        background-color: white;
                        padding: 5px;
                    }
                }

                .info_box1_title{
                
                    h6{
                        font-weight: bold;
                        margin-top: 20px;
                        color: #1b1b1b;
                    }
                }

                .info_box1_desc{

                    p{
                        margin-top: 20px;
                        color: #afafaf;
                        font-family: Montserrat, sans-serif;
                        font-size: 12px;
                    }
                }
            }

            .info_box2{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-left: 50px;

                .info_box2_image{
                    margin-top: 10px;
                    position: relative;

                    span{
                        position: absolute;
                        top: 5px;
                        left: 5px;
                        background-color: white;
                        padding: 5px;
                    }
                }

                .info_box2_title{
                
                    h6{
                        font-weight: bold;
                        font-weight: bold;
                        margin-top: 20px;
                        color: #1b1b1b;
                    }
                }

                .info_box2_desc{
                    
                    p{
                        margin-top: 20px;
                        color: #afafaf;
                        font-family: Montserrat, sans-serif;
                        font-size: 12px;
                    }
                }
            }

            .info_box3{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-left: 50px;

                .info_box3_image{
                    margin-top: 10px;
                    position: relative;

                    span{
                        position: absolute;
                        top: 5px;
                        left: 5px;
                        background-color: white;
                        padding: 5px;
                    }
                }

                .info_box3_title{
                
                    h6{
                        font-weight: bold;
                        font-weight: bold;
                        margin-top: 20px;
                        color: #1b1b1b;
                    }
                }

                .info_box3_desc{
                    
                    p{
                        margin-top: 20px;
                        color: #afafaf;
                        font-family: Montserrat, sans-serif;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

#expert_info{

    .expert_info_container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 100px 0;
        position: relative;

        .expert_info_box1{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .expert_info_box1_desc{
                display: flex;
                justify-content: center;
                align-items: center;

                p{
                    text-align: center;
                    font-size: 17px;
                    line-height: 29px;
                    font-family: Lora, serif;
                    color: #6d6a6a;
                    margin: 0;
                }
            }

            .expert_info_box1_name{

                p{
                    text-align: center;
                    font-size: 17px;
                    line-height: 29px;
                    font-family: Lora, serif;
                    color: #6d6a6a;
                    margin: 0;
                }
            }
        }
    
        .expert_info_box2{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .expert_info_box2_desc{
                display: flex;
                justify-content: center;
                align-items: center;

                p{
                    text-align: center;
                    font-size: 17px;
                    line-height: 29px;
                    font-family: Lora, serif;
                    color: #6d6a6a;
                    margin: 0;
                }
            }

            .expert_info_box2_name{

                p{
                    text-align: center;
                    font-size: 17px;
                    line-height: 29px;
                    font-family: Lora, serif;
                    color: #6d6a6a;
                    margin: 0;
                }
            }
        }

        .expert_info_box{
            display: none;
        }

        .expert_info_active{
            display: flex;
        }

        .expert_info_left{
            position: absolute;
            top: 50%;
            left: 28%;

            i{
                font-size: 30px;
                cursor: pointer;
                opacity: 0.2;
    
                &:hover{
                    opacity: 1;
                }
            }
        }

        .expert_info_right{
            position: absolute;
            top: 50%;
            right: 28%;

            i{
                font-size: 30px;
                cursor: pointer;
                opacity: 0.2;
    
                &:hover{
                    opacity: 1;
                }
            }
        }
    }
}

#shop{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #f7f7f7;
    height: 200px;
    padding-left: 70px;

    .shop_container{
        .shop_title{
            font-family: serif;
        }
    }
}

footer{
    background-color: #f6edd8;

    .footer_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .footer_list{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 80%;
            padding: 50px 0;
            border-bottom: 3px solid;

            ul{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                
                li{
                    list-style: none;
                    margin-top: 10px;
                    opacity: 0.6;

                    h6{
                        font-weight: bold;
                        font-size: 15px;
                        text-transform: uppercase;
                    }
                }
            }
        }

        .footer_about{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 30px 0;
            width: 80%;

            .footer_about_box1{
                display: flex;
                justify-content: center;
                align-items: center;

                p{
                    opacity: 0.6;
                }
            }

            .footer_about_box2{
                display: flex;
                justify-content: center;
                align-items: center;

                span{
                    margin-left: 20px;

                    i{
                        font-size: 30px;
                        opacity: 0.6;
                    }
                }
            }

            .footer_about_box3{
                display: flex;
                justify-content: center;
                align-items: center;

                p{
                    opacity: 0.6;
                }
            }
        }
    }
}


